body {
  font-family: "Barlow", sans-serif;
  font-family: "Playfair Display", serif;
}

/* Chris */

.navbar-nav .nav-item{
  color: #4F80E1;
}

/*
.logo-img {
  max-width: 100%;
  height: auto;
}
*/

/* Khalid */

/* Mo */
