body {
  font-family: "Barlow", sans-serif;
  font-family: "Playfair Display", serif;
}

/* Chris */
.navbar-nav .nav-item {
  color: #4f80e1;
}

/* Khalid */

/* Mo */
.contact {
  border: solid 2px green;
}

.fLeft {
  border: solid 4px red;
}
